# This is a basic workflow to help you get started with Actions

name: CI Pipeline

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main, develop" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: check code
      uses: action/checkout@v4

    - name: set Node.js
      uses: action/setup-node@v4
      with:
        node-version: '18'

    - name: install dependencies
      run: npm install

    - name: npm testing
      run: npm test

    - name: check code quality
      run: npm run lint
      
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    needs: test

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Runs a single command using the runners shell
      - name: Run a npm line
        run: |
          npm run build
          echo "create succesfully"

      # Runs a set of commands using the runners shell
      - name: Upload creation
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: dist/
